img {
    width: 300px;
}
body {
    background: aqua;
}
main {
    position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #818181;
	padding: 30px;
	border-radius: 30px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	text-align: center;
  font-family: sans-serif;
  text-align: center;
  
   background: rgb(255, 255, 255);
  }
  main:hover {
    background: aqua;
  }
  h5 {
    color: #818181;
  }
  footer {
    position: absolute;
    bottom: 0%;
    text-align: center;
  }
  a {
    text-decoration: none;
  }
 
